

.main-navigation {
    width: 700px;
}
.main-navigation-logo {
    margin-top: 7px;
}
.main-navigation-list {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-left: 10px;

    list-style: none;

    flex-wrap: wrap;
}
.main-navigation-list li:first-child {
    margin-right: 1px;
}
.main-navigation-list li:nth-child(2) {
    margin-right: 2px;
}
.main-navigation-list a {
    display: inline-block;

    padding: 6px 13px;

    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    border-radius: 15px;
}
.main-navigation-list span {
    display: inline-block;

    vertical-align: baseline;

    border-bottom: 1px solid #a1b6aa;
}
.main-navigation-list a:hover,
.main-navigation-list a:focus {
    display: inline-block;

    padding: 6px 13px;

    vertical-align: middle;

    border: none;
    border-radius: 15px;
    background-color: #d07058;
}
.main-navigation-list a:hover > span,
.main-navigation-list a:focus > span {
    border-bottom: none;
}
.main-navigation-list a:active {
    padding: 7px 14px;

    color: #323232;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 -2px 0 #696969;
}
.main-navigation-title {
    position: absolute;
    top: 29px;
    left: 156px;

    display: none;

    width: 143px;

    color: #323232;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.main-navigation-title a {
    font-size: 14px;
    line-height: 16px;

    color: #323232;
}
.main-navigation-title h3 {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 22px;
    padding-left: 20px;
}
.main-navigation-title::before {
    position: absolute;
    top: 39px;
    left: 9px;

    width: 128px;
    height: 1px;

    content: '';

    background-color: #d1d0ce;
}
.main-navigation-submenu {
    margin: 0;
    padding: 0;

    list-style: none;
}
.main-navigation-submenu li {
    font-size: 14px;
    line-height: 16px;

    margin: 0;
    padding-bottom: 15px;
    padding-left: 1px;
    padding-left: 21px;
}
.user-navigation {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    display: flex;

    width: 500px;
    margin-top: 23px;
    margin-left: 20px;
    padding: 0;

    list-style: none;
}
.user-search {
    margin-right: 10px;
}
.user-search-link {
    display: inline-block;

    width: 33px;
    height: 33px;
    padding-top: 6px;
    padding-left: 6px;

    vertical-align: middle;

    border-radius: 15px;
    background-color: #a0b5a9;
}
.user-search-link svg {
    color: #fff;
}
.user-search-link:hover {
    background-color: #fff;
}
.user-search a:hover > svg {
    color: #000;
}
.modal {
    position: absolute;
    top: 36px;
    right: 220px;

    display: none;

    width: 341px;
    height: 84px;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.modal input {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    width: 311px;
    height: 44px;
    margin-top: 19px;
    margin-left: 15px;
    padding: 13px 0 14px 12px;

    color: #999;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.user-element {
    margin-right: 8px;
}
.user-element-link {
    display: inline-block;

    width: 93px;
    height: 32px;
    padding-top: 5px;
    padding-left: 15px;

    vertical-align: middle;

    border-radius: 15px;
    background-color: #a0b5a9;
}
.user-element-link svg {
    color: #fff;
}
.user-element-link span {
    display: block;

    margin-top: -20px;
    margin-left: 27px;
}
.user-element-link:hover {
    background-color: #fff;
}
.user-element a:hover > svg,
.user-element a:hover > span {
    color: #000;
}
.modal-login {
    position: absolute;
    top: 35px;
    right: 117px;

    display: none;

    width: 277px;
    height: 214px;

    border-radius: 5.1px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.modal-login input {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    width: 241px;
    height: 44px;
    margin-top: 21px;
    margin-left: 20px;
    padding: 9px 0 12px 11px;

    color: #999;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.modal-login p {
    margin: 0;
    padding: 0;
}
.modal-login-link a,
.modal-login-links a {
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;

    color: #323232;
    border-bottom: 1px solid #adacaa;
}
.modal-login-link {
    position: absolute;
    top: 147px;
    right: 7px;

    display: inline-block;

    width: 131px;
    margin: 0;
    padding: 0;

    vertical-align: middle;
}
.modal-login-links {
    position: absolute;
    top: 168px;
    right: 7px;

    display: inline-block;

    width: 131px;
    margin: 0;
    padding: 0;

    vertical-align: middle;
}
.modal-btn {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    display: inline-block;

    width: 100px;
    margin: 0;
    margin-top: 20px;
    margin-left: 18px;
    padding: 10px 20px;

    vertical-align: center;

    box-shadow: 0 1px 2px 0 #ac1000;
}
.user-basket-link {
    display: inline-block;

    width: 100px;
    height: 33px;
    padding-top: 5px;
    padding-left: 16px;

    vertical-align: middle;

    border-radius: 15px;
    background-color: #a0b5a9;
}
.user-basket-link svg {
    color: #fff;
}
.user-basket-link span {
    display: block;

    margin-top: -22px;
    margin-left: 28px;
}
.user-basket-link:hover {
    background-color: #fff;
}
.user-basket a:hover > svg,
.user-basket a:hover > span {
    color: #000;
}
.user-block {
    display: flex;
    flex-direction: column;

    margin-top: -18px;
    margin-left: auto;

    justify-content: flex-end;
    align-items: flex-end;
}
.user-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    margin: 12px 0;
    padding: 0;
}
.user-text-tel {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;

    margin: -8px 0;
    padding: 0;

    color: #fff;
    border: none;
}
