@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src:
    local("Roboto Regular"),
    url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src:
    local("Roboto Medium"),
    url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src:
    local("Roboto Bold"),
    url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  background-color: #849d8f;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrap {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}
.header {
  position: relative;
  margin-bottom: 343px;
}
.main-navigation-img {
  position: absolute;
  top: -21px;
  left: 27px;
}
.main-navigation-list {
  margin-top: 29px;
  margin-left: 205px;
  padding: 0;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  line-height: 18px;
}
.main-navigation-list li {
  margin-right: 28px;
}
.main-navigation-list a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header-bar {
  position: absolute;
  top: -5px;
  right: 217px;
}
.user-text {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: absolute;
  right: 27px;
  bottom: -50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.user-text-tel {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 26px;
  bottom: -68px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  border: none;
}
.user-navigation {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 37px;
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.user-navigation li {
  margin-right: 33px;
}
.user-navigation a {
  text-decoration: none;
  color: #fff;
}
.entry-content {
  margin-bottom: 137px;
  position: relative;
}
.entry-title {
  margin: 0 auto;
  padding: 0;
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}
.entry-btn {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 64px;
  position: absolute;
  top: 150px;
  right: 462px;
  font: inherit;
  color: inherit;
  border: none;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
}
.slider {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 562px;
  left: 146px;
  list-style: none;
}
.slider li {
  margin-right: 9px;
}
.slider-one {
  height: 21px;
  width: 21px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}
.slider-two {
  height: 21px;
  width: 21px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
}
.slider-three {
  height: 21px;
  width: 21px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
}
.special-offers {
  display: flex;
  position: relative;
}
.section-text {
  margin: 0 26px;
  padding: 0;
  width: 560px;
  height: 229px;
  background-image: url(../img/i-rasberries.png);
}
.section-text h2 {
  margin: 13px 19px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.section-text p {
  margin: 16px 19px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.section-btn {
  margin: 0;
  padding: 0;
  width: 165px;
  height: 46px;
  position: absolute;
  top: 159px;
  left: 400px;
  font: inherit;
  color: inherit;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
}
.section-text-item {
  margin: 0;
  padding: 0;
  width: 560px;
  height: 229px;
  background-image: url(../img/i-chocolate.png);
}
.section-text-item h2 {
  margin: 13px 19px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.section-text-item p {
  margin: 16px 19px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.b-want-chocolates {
  margin: 0;
  padding: 0;
  width: 189px;
  height: 45px;
  position: absolute;
  top: 158px;
  right: 47px;
  font: inherit;
  color: inherit;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
}
