@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src:
    local("Roboto Regular"),
    url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src:
    local("Roboto Medium"),
    url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src:
    local("Roboto Bold"),
    url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  background-color: #849d8f;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.body-container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}
.header-navigation {
  position: relative;
}
.main-header-logo {
  position: absolute;
  top: -21px;
  left: 27px;
}
.ul-navigation {
  margin-top: 29px;
  margin-left: 205px;
  padding: 0;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  line-height: 18px;
}
.ul-navigation li {
  margin-right: 28px;
}
.ul-navigation a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header-bar {
  position: absolute;
  top: -5px;
  right: 217px;
}
.t-header-information {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: absolute;
  right: 27px;
  bottom: -50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.n-header-information {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 26px;
  bottom: -68px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

